Source: ruby-spruz
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders:  <>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-spruz.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-spruz;a=summary
Homepage: http://flori.github.com/spruz
XS-Ruby-Versions: all

Package: ruby-spruz
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter
Description: Useful stuff.
 All the stuff that isn't good/big enough for a real library.
